<?xml version="1.0"?>
<launch>
  <arg name="side" default="r"/> <!-- "b" = blue side, "r" = red side  -->

    <!-- You can change control program  -->


    <!-- sample program node -->
    <include file="$(find burger_navigation)/launch/burger_navigation.launch"/>
    <node pkg="burger_war" type="qwerty.py" name="qwerty" output="screen"/>
    <node pkg="burger_war" type="TekiMitsukeru.py" name="teki_mitsukeru" output="screen"/>
    <node pkg="burger_war" type="enemy_detector.py" name="enemy_detector_node" output="screen"/>
    <include file="$(find burger_war)/launch/obstacle_detector.launch"/>
    <!-- END sample program node -->


    <!-- End of your space  -->
</launch>

